<div class="center-page">
  <div class="form-container">
    <div class="titulo">
      <h2>Creacion del perfil</h2>
    </div>


    <form (ngSubmit)="guardar()" [formGroup]="form">


      <div>
        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" formControlName="username" />
        <p class="errorfield" *ngIf="usernameExiste&& form.controls.username.touched">
          Este nombre de usuario ya existe, intentalo con otro
        </p>
        <p class="errorfield" *ngIf="form.controls.username.hasError('minlength')">
          Este nombre de usuario es demasiado corto, debe tener como minimo 4 letras
        </p>
      </div>

      <div>
        <label for="equipofavorito">Equipo favorito</label>
        <select id="equipofavorito" formControlName="equipofavorito">
          <option value="">-- Selecciona tu equipo favorito --</option>
          <option *ngFor="let equipo of equipos" [value]="equipo">
            {{ equipo }}
          </option>
        </select>
      </div>

      <div>
        <label for="fotoperfil">Foto de perfil</label>
        <input type="file" accept="image/*" (change)="uploadFile($event)" id="file-upload">
      </div>

      <div class="text-right">
        <button type="submit">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>