<div class="center-page">
  <div class="form-container">
    <div class="titulo">
      <h2>Cambiar contraseña</h2>
    </div>
    

    <form (ngSubmit)="guardar()" [formGroup]="form">


      <div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
        <p class="errorfield" *ngIf="form.controls.email.hasError('email')">
          Debe ser un formato de email válido
        </p>
        <p class="errorfield" *ngIf="emailExiste">
          Este email ya está registrado, por favor pon otro o inicia sesión
        </p>
      </div>

      <div>
        <button type="submit">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
